@model CDMIS.Models.PasswordModel

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="../../Content/simpleModal.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/jquery.simplemodal.1.4.4.min.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.dataTables.js"></script>
<meta   http-equiv="Expires"   CONTENT="0">   
<meta   http-equiv="Cache-Control"   CONTENT="no-cache">   
<meta   http-equiv="Cache-Control"   CONTENT="no-store">   
<meta   http-equiv="Pragma"   CONTENT="no-cache">
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "Form4", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div style="width:560px; height:280px; float: left; margin-left:350px; margin-top: 40px">
        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align:justify">
            旧密码：</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword)
                @Html.ValidationMessage("errorPassword")    
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align:justify">
            新密码：</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
                @Html.ValidationMessage("errorNewPassword")
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" style="text-align:justify">
            确认新密码：</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                @Html.ValidationMessage("errorConfirmPassword")   
            </div>
        </div>
        <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align:justify">
                验证码：</label>
                <div class="col-sm-4">
                    <input id="ValidateCode" type="text" class="form-control" name="ValidateCode" data-val-required="请输入验证码" data-val="true" onkeyup="Flag()" />
                </div>
                <div class="col-sm-2">
                    <img id="valiCode" style="cursor: pointer; height:30px" src="/Account/GetValidateCode1" alt="验证码"/>
                </div>
                <div class="col-sm-1">
                    <img id="ValidCodeFlag" style="display: block; "src=""/>
                </div>
        </div>
        <div class="form-group">
                <div class="col-sm-4" style="text-align:center">
                    <a href="/Personal/PersonalHomepage" class="btn btn-primary">返回</a>
                </div>
                <div class="col-sm-4" style="text-align:center">
                    <input type="button" class="btn btn-primary" id="Sure" value="完成" onclick="SubmitForm()" disabled ="disabled"/>
                    @Html.ValidationMessage("errorConnection")
                </div>
            </div>
            <div class="form-group">
                <div style="margin-left:60px">
                    <label style="display: none; color: Red; font-weight: bold;" id="showlabel">
                    密码修改成功，即将返回个人主页</label>
                </div>
            </div>
    </div>

}

<script type="text/javascript">
    $(function () {
        $("#valiCode").bind("click", function () {
            this.src = "/Account/GetValidateCode1?time=" + (new Date()).getTime();
        });
//        $("#valiCode").window.history.back(function () {
//            this.src = "/Account/GetValidateCode?time=" + (new Date()).getTime();
//        });
    });

    $(document).ready(function () {
        var aa = document.getElementById("ValidCodeFlag");
        var validateCode = document.getElementById("ValidateCode").value;
        if (document.getElementById("ValidateCode").value.length > 4) {
            $.ajax({
                url: "/Account/CheckValidateCode1",
                type: "GET",
                dataType: "json",
                async: false,
                data: { ValidateCode: validateCode },
                success: function (res) {
                    if (res == true) {
                        aa.style.display = "block";
                        aa.src = "../../Content/Image/correct.png";
                        validateFlag = 1;
                        $('#logOnBtn').removeAttr('disabled');
                    }
                    else {
                        aa.style.display = "block";
                        aa.src = "../../Content/Image/wrong.png";
                        $('#logOnBtn').attr('disabled', "disabled");
                    }
                }
            });
        }
        else {
            aa.style.display = "none";
            $('#logOnBtn').attr('disabled', "disabled");
        }
    })

    function Flag() {
        var aa = document.getElementById("ValidCodeFlag");
        var validateCode = document.getElementById("ValidateCode").value;
        if (document.getElementById("ValidateCode").value.length > 4)
        {
            $.ajax({
                url: "/Account/CheckValidateCode1",
                type: "GET",
                dataType: "json",
                async: false,
                data: { ValidateCode: validateCode },
                success: function (res) {
                    if (res == true) {
                        aa.style.display = "block";
                        aa.src = "../../Content/Image/correct.png";
                        $('#Sure').removeAttr('disabled');
                    }
                    else {
                        aa.style.display = "block";
                        aa.src = "../../Content/Image/wrong.png";
                        $('#Sure').attr('disabled', "disabled");
                    }
                }
            });
        }
        else {
            aa.style.display = "none";
        }
    }

//    var wait = 2
    function SubmitForm() {
        if ($("#OldPassword").val() != "" && $("#Newpassword").val() != "" && $("#ValidateCode").val() != "")
        {
            var validateCode = document.getElementById("ValidateCode").value;
            $.ajax({
                url: "/Account/CheckChangePassword",
                type: "GET",
                dataType: "json",
                async: false,
                data: { ValidateCode: validateCode, OldPassword: $("#OldPassword").val(), newPassword1: $("#NewPassword").val() },
                success: function (res) {
                    if (res == true) {
                        document.getElementById("showlabel").style.display = "block";
                        document.getElementById("Sure").disabled = true;
                        setTimeout(function () { document.getElementById("Form4").submit() }, 1000)

                    }
                    else {
                        document.getElementById("Form4").submit();
                    }

            }
            });
        }
        else if ($("#OldPassword").val() == "")
        {
            alert("旧密码为空，请输入旧密码");
        }
        else if ($("#Newpassword").val() == "") {
            alert("新密码为空，请输入新密码");
        }
        else if ($("#ValidateCode").val() == "") {
            alert("验证码为空，请输入验证码");
        }



    }
        


 </script>