@model CDMIS.Models.PasswordModel

@{
        ViewBag.Title = "重置密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="../../Content/simpleModal.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/jquery.simplemodal.1.4.4.min.js"></script>
<script type="text/javascript" src="../../Scripts/jquery.dataTables.js"></script>
<style type="text/css">
    #alert-container
    {
        height: 160px;
        width: 300px;
    }
</style>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "Form3", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div style="width:560px; height:280px; float: left; margin-left:350px; margin-top: 40px">
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:justify">
            新密码：</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
                @Html.ValidationMessage("errorNewPassword") 
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="text-align:justify">
            再次输入:</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                @Html.ValidationMessage("errorConfirmPassword")
            </div>
        </div>
        <div class="form-group">
                <div style="margin-left: 140px">
                    <input type="button" class="btn btn-primary" id="Sure" value="完成" onclick="Submit()" />
                    @Html.ValidationMessage("errorConnection")
                </div>
            </div>
            <div class="form-group">
                <div style="margin-left:60px">
                    <label style="display: none; color: Red; font-weight: bold;" id="showlabel">
                    密码修改成功，即将返回登录页面</label>
                </div>
            </div>
    </div>
    <div id="integrateDiv" style="display: none;">
        <div class="modalHeader">
            <span>提示框</span></div>
        <div class="modalContent">
            <center>
                <h4 id="warningP">
                </h4>
                <input type="button" class="btn btn-primary Sure" value="确定" />
            </center>
        </div>
    </div>
}
<script type="text/javascript">


    function Submit() {
        if ($("#NewPassword").val() != "") {

            $.ajax({
                url: "/Account/CheckResetPassword",
                type: "GET",
                dataType: "json",
                async: false,
                data: { newPassword2: $("#NewPassword").val(), UserId: "@Model.UserId" },
                success: function (res) {
                    if (res == true) {
                        //                    alert("密码修改成功，即将返回登录页面");
                        document.getElementById("showlabel").style.display = "block";
                        document.getElementById("Sure").disabled = true;
                        setTimeout(function () {
                            document.getElementById("Form3").submit();
                            //window.location.href="/Account/LogOn" 
                        }, 1000)
                        //                    var wait = 2;
                        //                    function Time() {
                        //                        if (wait == 0) {
                        //                            var form1 = document.getElementById("Form3");
                        //                            form1.submit();
                        //                        }
                        //                        else {
                        //                            document.getElementById("Sure").disabled = true;
                        //                            document.getElementById("Sure").value = "密码修改成功，" + wait + "秒后返回登录页面";
                        //                            wait--;
                        //                            setTimeout(function () { Time() }, 1000)
                        //                        }
                        //                    }
                    }
                    //                                            alert("修改密码成功，点击确定后返回个人主页");
                }
            });
        }
        else {
            $("#warningP").html("新密码为空，请输入新密码");
            $('#integrateDiv').modal({
                closeHTML: "<a href='#' id='Close' class='modal-close'>x</a>",
                containerId: 'alert-container',
                overlayClose: true     //点击蒙层关闭窗口
            });
        }

    }

    $(".Sure").click(function () {
        $("#Close").click();
    })
</script>


