@model CDMIS.ViewModels.MessageListViewModel
@{
    ViewBag.Title = "信箱-草稿箱";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="../../Content/simpleModal.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/jquery.simplemodal.1.4.4.min.js"></script>
<style type="text/css">
    #simplemodal-container
    {
        height: 160px;
        width: 250px;
    }
</style>

<div id="MailBoxShare">
    @{Html.RenderAction("MailBoxShare", "MailBox");}
</div>
<div id="Main" style="border: 5px solid #DDDDFF;" align="center">
    <table width="1020px" align="center">
        <tr>
            <td width="60px" align="left" height="30px" class="otherfont">
                收件人
            </td>
            <td width="810px" height="30px">@Html.TextBoxFor(model => model.Receiver, new { id = "Receiver", @class = "mailform", name = "Receiver", readOnly = "true", style = "width:810px;"})
            </td>
            <td rowspan="10" width="160px">
                <div id="Contact" style="border: 5px solid #DDDDFF; height: 590px; width: 160px;
                    overflow-x:hidden;overflow-y:scroll;">
                    <div style="height: 550px; width: 400px;">
                        <table>

                         @for (int i = 0; i <Model.ModuleInfoList.Count; i++)
                            {
                                if (Model.ContactsList[i] != null)
                                {
                                    if (Model.ContactsList[i].Count > 0)
                                    {
                                <tr class="trht">
                                    <th align="left" onclick="ShowOrHide(this)">
                                        <button class="plus" type="button">
                                        </button>
                                        @Model.ModuleInfoList[i].ModuleName
                                    </th>
                                </tr>
                                    }
                                <tr>
                                    <td style="display: none;">
                                        <ul>
                                            @foreach (CDMIS.Models.ContractsInfo item in Model.ContactsList[i])
                                            {                                          
                                                <li style="list-style-type: none; line-height: 25px;">
                                                    <button type="button" onclick="show(this.value)" value="@item.ContractName＜@item.ContractId＞" class="myButton2" title="ID: @item.ContractId" style="position: relative; left: 15px;">@item.ContractName</button>
                                                </li>                                           
                                            }
                                        </ul>
                                    </td>
                                </tr>
                                }
                            }       
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td width="60px" align="left" height="30px" class="otherfont">
                主&nbsp;&nbsp;&nbsp;题
            </td>
            <td width="810px" height="30px">@Html.TextBoxFor(model => model.Title, new { id = "Title", @class = "mailform", onkeyup = "chkmaxsms(this,'512')", style = "width:810px;" })
            </td>
        </tr>
        <tr>
            <td width="60px" align="left" height="30px" class="otherfont">
                正&nbsp;&nbsp;&nbsp;文
            </td>
            <td width="810px" height="30px">@Html.TextAreaFor(model => model.Content, new { id = "Content", @class = "mailform", onkeyup = "chkmaxsms(this,'1024')", style = " width: 810px;height: 490px;" })
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2" class="otherfont">
                <button type="submit" id="SaveToDraft" class="myButton1" value="4">
                    保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" id="SendFromDraft" class="myButton1" value="3">
                    发送</button>
            </td>
        </tr>
    </table>
</div>

<div id="MyModel" style="display: none;">
    <div class="modalHeader">
        <span>提示
            <button type="button" style="position: relative; left: 170px; background-color: transparent;
                border: none;" id="CloseBtn">
                关闭</button></span></div>
    <div class="modalContent">
        <h4 class="text-center">
            <input id="AttentionContent" value="" /></h4>
        <div class="col-md-offset-3" style="position: relative; top: 20px; left: 28px;">
            <input type="button" value="确定" class="btn btn-primary" id="confirmBtn" />
        </div>
    </div>
</div>
<div id="MyModel2" style="display: none;">
    <div class="modalHeader">
        <span>提示
            <button type="button" style="position: relative; left: 170px; background-color: transparent;
                border: none;" id="CloseBtn2">
                关闭</button></span></div>
    <div class="modalContent">
        <h4 class="text-center">
            主题为空，确定要发送？</h4>
        <div class="col-md-offset-3" style="position: relative; top: 20px;">
            <input type="button" value="确定" class="btn btn-primary" id="confirmBtn2" />
            <input type="button" value="取消" class="btn btn-primary" id="cancelBtn2" />
        </div>
    </div>
</div>
<style>
    .plus
    {
        width: 10px;
        height: 10px;
        background-image: url(/Content/Image/Mail_Open.jpg);
    }
    .minus
    {
        width: 10px;
        height: 10px;
        background-image: url(/Content/Image/Mail_Hide.jpg);
    }
    .mailform
    {
        border-color: #DDDDFF;
        background-color: White;
        border-style: inset;
        border-width: 1px;
    }
</style>
@*通讯录展开与收起*@
<script type="text/javascript">
    function ShowOrHide(obj) {
        $(obj).parent().next().children().slideToggle("fast");
        $(obj).children("button").toggleClass("minus");
    }
</script>

<script type="text/javascript">

    $("#SendFromDraft").click(function () {
        var flag2 = 0;
        if (($("#Content").val() == null) || ($("#Content").val() == "")) {
            alertModal("正文不能为空！");
        }
        else {
            flag2 = 1;
        }
        if (flag2 == 1) {
            if (($("#Title").val() == null) || ($("#Title").val() == "")) {
                $('#MyModel2').modal({
                    overlayClose: true
                });
                $('#CloseBtn2').click(function () {
                    $.modal.close();
                });
                $('#cancelBtn2').click(function () {
                    $.modal.close();
                });
                $('#confirmBtn2').click(function () {
                    $.modal.close();
                    Myjson("发送失败，请重试！", "/MailBox/HaveSent", 3);
                });
            }
            else {
                Myjson("发送失败，请重试！", "/MailBox/HaveSent", 3);
            }
        }
    });

    $("#SaveToDraft").click(function () {
        Myjson("保存失败，请重试！", "/MailBox/Draft", 4);
    });

    //Json
    function Myjson(Txt, URL, Selection) {
        $.ajax({
            url: "/MailBox/DraftJson",
            type: "GET",
            dataType: "json",
            async: false,
            data: {
                PiMessageNo: "@Model.MessageNo",
                PiTitle: $("#Title").val(),
                PiReceiver: $("#Receiver").val(),
                PiContent: $("#Content").val(),
                PiSelection: Selection
            },
            success: function (res) {
                if (!res) {
                    alertModal(Txt);
                }
                else {
                    //消息推送
                    if (Selection == 3)
                    {
                        var ReicAryy = new Array();
                        ReicAryy = $("#Receiver").val().split(";");
                        var Cont = $("#Content").val();
                        var Til = $("#Title").val();
                        if ((Til == "") || (Til == null)) {
                            Til = "无主题";
                        }
                        if (Cont.length > 30) {
                            Cont = Cont.substring(0, 30);
                        }
                        for (var i = 0; i < ReicAryy.length - 1; i++) {
                            var IndexofA = ReicAryy[i].indexOf("＜");
                            var IndexofB = ReicAryy[i].indexOf("＞");
                            var ReceiverTemp = ReicAryy[i].substring(IndexofA + 1, IndexofB);
                            SendMail(ReceiverTemp + "||" + Til + "||" + Cont + "||" + "@Model.MessageNo"); //收件人Id 主题 内容截取 消息编号                       
                        }
                    }
                    location.href = URL;
                }
            }
        });

    }
    //弹框提示
    function alertModal(Txt) {
        $("#AttentionContent").attr("value", Txt);
        $('#MyModel').modal({
            overlayClose: true
        });
        $('#CloseBtn').click(function () {
            $.modal.close();
        });
        $('#confirmBtn').click(function () {
            $.modal.close();
        });
    }
  
    //限制信息长度
    function chkmaxsms(vobj1, vmax) {
        var str = vobj1.value;
        var strlen = str.length;
        if (strlen > vmax) {
            if (vmax == 1024) {
                alertModal('正文请勿多于1024字');
            }
            else {
                alertModal('主题请勿多于512字');
            }
            eval(vobj1.value = str.substr(0, vmax));
        }
    }

    //使通讯录中联系人进入输入框
    function show(Txt) {
        var cont = document.getElementById('Receiver');
        cont.value = Txt + ";　";
    }

    //改变按钮颜色
    $(document).ready(function () {
        $("#bn4").toggleClass("myButtonChange");
    });

</script>
